@model List<RequestDto>
@inject SignInManager<ApplicationUser> signInManager;
@{
    ViewData["Title"] = "СПИСОК ЗАПРОСОВ";
}
<a asp-action="CreateRequest">Добавить заявку</a>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Название
                </th>
                <th>
                    Тип
                </th>
                <th>
                    Описание
                </th>
                <th>
                    Состояние
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.RequestTypeName
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.Stage
                    </td>
                    @if (signInManager.IsSignedIn(User))
                    {
                        <td>
                            @if(User.IsInRole("Admin"))
                            {
                                @Html.ActionLink("Выполнить", "FullfillRequest", new { id = item.Id })                               
                            }
                            
                                @Html.ActionLink("  Отменить", "RejectRequest", new { id = item.Id })                            
                            
                            @Html.ActionLink("  Удалить", "DeleteRequest", new { id = item.Id })
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

</div>
